{% extends 'layout.html' %}

{% block script %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $('#registerForm').submit(function (event) {
                if($('#email').val() == ''){
                    alert( "Email required." );
                    event.preventDefault();
                } else if(!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($('#email').val()))){
                    alert("Invalid email address");
                    event.preventDefault();
                }
                else if($('#name').val() == '') {
                    alert( "Name required." );
                    event.preventDefault();
                } else if($('#password').val() == ''){
                    alert( "Password is required and must be 8 characters." );
                    event.preventDefault();
                }
                else if($('#password').val() != $('#confirmPassword').val()){
                    alert( "Passwords must match!!" );
                    event.preventDefault();
                } else{
                    $('#registerForm').submit();
                }
            });
        });
    </script>
{% endblock %}

{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/bubbles_sizing.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Create an Account</title>
{% endblock %}

{% block content %}
    <div class="main-w3layouts wrapper">
            <h1 class="sign">Create an Account</h2>
        {% if error %}
            <div class="isa_error">
                    <i class="fa fa-times-circle"></i>
                    
            {{ error }}</div>
        {% endif %}
        <div class="main-agileinfo" style="padding:2em;">
            <div class="agileits-top">
                <form id="registerForm" action="/signup" method="post" style="text-align:center">
                    {{ form.email(class_="input", placeholder="Email", id="email")}}
                <br>
                    {{ form.name(class_="input", placeholder="Name", id="name")}}
                <br>
                    {{ form.password(class_="input", placeholder="Password", id="password")}}
                <br>
                    {{ form.hidden_tag() }}

                <input name="confirmPassword" id="confirmPassword" class="input" type="password"   placeholder="Confirm Password">
                <br>
                <br>
                <input type="submit" class="submit"   value="Submit">
                <br><a href="./login" >Login Instead</a>
                </form>
            </div>
        </div>

    </div>
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
{% endblock %}


{% block style %}
<style>
html{
    overflow:hidden;
}

</style>

{% endblock %}