{% extends 'layout.html' %}

{% block script %} 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
{% endblock %}


{% block style %}
<style>
#spoiler{
    height:20em;
    width:100%;
    background: transparent;
    color:white;
    outline: none;
}
</style>
{% endblock %}
{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/bubbles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Send a spoiler</title>
{% endblock %}

{% block content %}
    <div class="main-w3layouts wrapper">
            <h1 class="sign">Create your spoiler</h2>
        {% if error %}
            <div class="isa_error">
                    <i class="fa fa-times-circle"></i>
                    
            {{ error }}</div>
        {% endif %}
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form id="movieform" action="/scheduler-spoiler" method="post" style="text-align:center">
                    <p>Movie Name</p>
                    {{ form.movie_name(class_="input", placeholder="Movie Name", id="movie_name")}}
                <br>
                    <p>Email</p>
                    {{ form.victim_email(class_="input", placeholder="Victim's Email", id="victim_email")}}
                <br>
                    <p>Spoiler </p>
                    {{ form.spoiler(class__="spoiler", placeholder="spoiler", id="spoiler")}}
                <br>
                <br>
                <br>
                    {{ form.hidden_tag() }}
                <br>
                <br>
                <br>
                <br>

                <input type="submit" class="submit" value="Schedule it">
                </form>
            </div>
        </div>
		<ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
{% endblock %}