{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rainbow.css') }}" />
<link rel="stylesheet" type="text/css" href="static/css/bubbles_sizing.css" />
<title>
    About Us
  </title>
{% endblock %}

{% block content %}
<h1 class="rainbow-name topofpage"><b>Spoiled For You</b></h1>
<br/>
<h2>A Gimmicky Project to bug your friends </h2>
<br/>
<h2> Made by Yahia Bakour</h2>
<div class="container-content">
        <p>        </p>
        <br/>
        <br/>
        <div class="container-2 aboutus">
            <h2 class="Section-title">How it started</h2>
            <br/>
            <p>For a while now, I've really wanted to build a project all on my own without anyone elses help that utilized cloud technology, remote DB, an architecture I designed, and some gimmicky aftertaste</p>
            <br/>
            <p>And then, this happened.</p> 
            <br/>
            <hr>
            <h2 class="Section-title">How does it work?</h2>
            <br/>
            <p> When you type in a movie name, we try to scrape the plot off wikipedia and generate a spoiler for you, sometimes it doesn't work because <b>to be frank</b>: I built this in my free time and out of boredom. </p>
            <br/>
            <hr>
            <h2 class="Section-title">How did you make it?</h2>
            <br/>
            <ul>
              <li> Remote MySQL Database</li>
              <li> HTML/CSS/Javascript/JQuery and personal swagger</li>
              <li> Python & Flask with the Jinja2 templating engine</li>
              <li> Google App Engine </li>
              <li> Mad Design Skills </li>
            </ul>
            <br/>
            <hr>
            <h2 class="Section-title">Will you add more features or is this it?</h2>
            <br/>
            <p> in all likelihood , I will forget about this and it will dissapear into the ether of lame half-baked web apps.</p>
            
          </div>
              <ul class="colorlib-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
    </div>


{% endblock %}


{% block style %}
<style>
.section-title{
  font-size:1.5em;
  font-weight:bold;

}

hr{
  width:75%;
  border:solid 0.1em;
  border-radius:50%;
  margin-top:1em;
  margin-bottom:1em;
}
.aboutus{
    text-align:left;
  }

.topofpage{
    letter-spacing: 2px;
}
.container-content{
    color: #EFE7DA;
    padding: 0 0 0 1em;
}


.rainbow-name{
    font-weight:bold;
}

.rainbow-name:hover {
   /* Font options */
  text-shadow: 2px 2px 4px #000000;
  
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;
  
  /* Standar Syntax */
  animation: rainbow 5s infinite; 
}
.btn {
  position: relative;
  color: white;
  width: 25%;
  height: 64px;
  line-height: 64px;
  display: block;
  margin: auto;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    transform: scale(1, 1);
  }
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* BTN TWO */
.btn-two::before, .btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
    height: 100%;
  bottom: 0;
    left: 0;
    z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw; 
  animation-duration: 3s;
}
.btn-two:hover::after, .btn-two:hover::before {
  left: 96px;
  width: 64px;
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

</style>
{% endblock %}
