{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rainbow.css') }}" />
<link rel="stylesheet" type="text/css" href="static/css/bubbles.css" />
<title>
  Spoiled for you
</title>
{% endblock %}

{% block content %}
<h1 class="rainbow-name topofpage"><b>Spoiled For You</b></h1>
<br/>
<h2>A Gimmicky Project to bug your friends </h2>
<br/>
<h3>This webapp allows you to generate a spoiler for <strike>all</strike> most movies and send them as emails to bug your friends</h3>
<br/>
<h3> Made by <span class="rainbow-name" style="cursor:pointer;" onclick="window.open('https://yahiabakour.com/', '_blank');">Yahia Bakour</span></h3>
{% if justsignedup %}
<div class="isa_success" >
  <i class="fas fa-check-circle"></i>
      Congrats on signing up
</div>
{% endif %}
<div class="container-content">
        <p>        </p>
        <div class="container-2">
            {% if loggedin %}
                <a href="/pick-a-movie">
            {% else %}
                <a href="/login">
            {% endif %}
            <div class="desktop-button">
                <div class="btn btn-two">
                    <span>Get Started</span>
                    </div>
            </div>
            <div class="mobile-button">
                  {% if loggedin %}
                          <button class="mobilebutton"    onclick="window.location.href = '/pick-a-movie';"> Get Started</button>
                  {% else %}
                          <button class="mobilebutton"   onclick="window.location.href = '/login';"> Get Started </button>
                  {% endif %}
            </div>

                  </a>   
              </div>
              <ul class="colorlib-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
    </div>


{% endblock %}


{% block style %}

<style>
  .mobilebutton {
  background-color: #471174;
  border: 2px solid #555555;
  color: white;
  width:100%;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  letter-spacing: 1.5px;

}

.mobilebutton:hover {
    background-color: white;
    color: #471174;
}
.mobile-button{
  display:none;
}
@media (max-width: 480px) {
  .desktop-button {
    display: none;
  }
  .mobile-button{
    display:inline-block;
  }
}
html{
  overflow: hidden;
}
.topofpage{
    letter-spacing: 2px;
}
.container-content{
    color: #EFE7DA;
    padding: 2em;
    margin: 0;
    left: 50%;
    top: 50%;

}
.container-2{
  margin-top: 10em;
}

.rainbow-name{
    font-weight:bold;
}

.rainbow-name:hover {
   /* Font options */
  text-shadow: 2px 2px 4px #000000;
  
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;
  
  /* Standar Syntax */
  animation: rainbow 5s infinite; 
}
.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  display: block;
  margin: auto;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    transform: scale(1, 1);
  }
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* BTN TWO */
.btn-two::before, .btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
    height: 100%;
  bottom: 0;
    left: 0;
    z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw; 
  animation-duration: 3s;
}
.btn-two:hover::after, .btn-two:hover::before {
  left: 96px;
  width: 64px;
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

</style>
{% endblock %}
