<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		{% block head %} <title>Yahia's Web App</title> {% endblock %}
		<meta name="description" content="A Web-Application made by Yahia Bakour which generates spoilers to be sent to your friends!" />
		<meta name="keywords" content="Spoiled for you, Movie Spoiler, Spoiler, Spoiled4you, Spoiler, Spoil.io" />
		<meta name="author" content="Yahia Bakour" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tooltips.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/messages.css') }}"/>
		<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
    </head>
    
	<body>
		<div class="container">
			<header class="codrops-header" style="max-width:100%;">
                    {% block content %} {% endblock %}
            </header>
			<nav id="bt-menu" class="bt-menu">
				<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
				<ul>
					<li><div class="tooltip"><a href="#" class="bt-icon icon-home">HomePage</a><span class="tooltiptext">Home</span></div></li>
					<li><div class="tooltip"><a href="#" class="bt-icon icon-newspaper">AboutUS</a><span class="tooltiptext">About Us</span></div></li>
					<li><div class="tooltip"><a href="/pick-a-movie" class="bt-icon icon-email">Schedule a Spoiler</a><span class="tooltiptext">Schedule a Spoiler</span></div></li>
					{% if loggedin %}
						<li><div class="tooltip"><a href="/logout" class="bt-icon icon-user-outline">Logout</a><span class="tooltiptext">Logout</span></div></li>
					{% else %}
						<li><div class="tooltip"><a href="/login" class="bt-icon icon-user-outline">Login</a><span class="tooltiptext">Login</span></div></li>
					{% endif %}

				</ul>
            </nav>
		</div><!-- /container -->
	</body>
	{% block script %} {% endblock %}
	<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/borderMenu.js') }}"></script>
	{% block style %} {% endblock %}
<!--Bubbles from : https://codepen.io/colorlib/pen/aaaoVJ-->
</html>