<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		{% block head %} <title>Spoiled For you</title> {% endblock %}
		<meta name="description" content="A Web-Application made by Yahia Bakour which generates spoilers to be sent to your friends!" />
		<meta name="keywords" content="Spoiled for you, Movie Spoiler, Spoiler, Spoiled4you, Spoiler, Spoil.io" />
		<meta name="author" content="Yahia Bakour" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icons.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tooltips.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/messages.css') }}"/>
		<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
		<script src="https://kit.fontawesome.com/1de7370ab8.js" crossorigin="anonymous"></script>
    </head>
    
	<body>
		<div class="container">
			<header class="codrops-header" style="max-width:100%;">
                    {% block content %} {% endblock %}
            </header>
			<nav id="bt-menu" class="bt-menu">
				<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
				<ul>
					<li><a href="/" class="bt-icon icon-home">Home</a></li>
					<li><a href="/about-us" class="fas fa-book-open">About</a></li>
					<li><a href="/pick-a-movie" class="bt-icon icon-email">Spoiler</a></li>
					<li><a href="/spoiler-history" class="fas fa-history">History</a></li>
					{% if loggedin %}
					<li><a href="/logout" class="bt-icon icon-user-outline">Logout</a></li>
					{% else %}
					<li><a href="/login" class="bt-icon icon-user-outline">Login</a></li>
					{% endif %}
					<li><a href="/contact" class="far fa-id-badge">Contact</a></li>
				</ul>
			</nav>
		</div><!-- /container -->
	</body>
	{% block script %} {% endblock %}
	<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/borderMenu.js') }}"></script>
	{% block style %} {% endblock %}
<!--Bubbles from : https://codepen.io/colorlib/pen/aaaoVJ-->
</html>